wandb/
out/
ckpt/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.vscode/*

*.egg-info
wandb/*
logs/*
*.npz
*.npy
.tmp/
results/
# third_party/
pretrained/
*.zip
vis/
inference_results/
*.blend*
manip_render/
pretrained_weights/.DS_Store
.DS_Store
datasets/*/embeddings